package ${systemPackage}.${layer.layerNameDao};

import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import ${systemPackage}.${layer.layerNamePojo}.${tableNameClass}${layer.classSuffixPojo};

import java.util.List;
import java.util.Map;
@Mapper
public interface ${tableNameClass}${layer.classSuffixDao} {
    int insert(${tableNameClass}${layer.classSuffixPojo} ${tableNameVariable}${layer.classSuffixPojo});
#if($primaryKey)
    int updateById(${tableNameClass}${layer.classSuffixPojo} ${tableNameVariable}${layer.classSuffixPojo});
    int deleteBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable});
    ${tableNameClass}${layer.classSuffixPojo} selectBy${primaryKey.pkName}(${primaryKey.pkType} ${primaryKey.pkNameVariable});
#end
    List<${tableNameClass}${layer.classSuffixPojo}> selectAll(Map<String, Object> paramMap);
}